
<div class="container d-flex w-100 h-100 p-3 m-5 flex-column">
    <div class="px-3 row align-items-center">
        <h1 class="mb-3">Welcome</h1>
        <p class="lead mb-5">To the best page in humanity's existence.</p>
        <ul class="nav justify-content-center">
            <li><%= link_to 'Log In', new_user_session_path, class: 'btn btn-outline-light m-3 fw-bold' %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-light m-3 fw-bold' %></li>
        </ul>
    </div>
</div>
